[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SurveyCC"]
	path = SurveyCC
	url = https://github.com/237triangle/surveycc
[submodule "surveynnet"]
	path = surveynnet
	url = https://github.com/237triangle/surveynnet
